html
    include template/head
body
    #main_house.body-wrapper
        header
            img(src= '../img/ct-logo.svg' height= '24')
            h1=title

        include template/nav_house

        include template/screen/screen-l-a/screen-l-a_house

        include template/screen/screen-l-b/screen-l-b_house

        include template/screen/screen-r-map/screen-map

    include footer